<div class='container'>
  <menu></menu>
  <alert></alert>

  <div class="container-fluid">
    <div class="row">
      <power-button></power-button>
    </div>
    <br />
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <operation-mode></operation-mode>
      </div>
      <div class="col-md-4 col-sm-6">
        <fan-mode></fan-mode>
      </div>
      <div class="col-md-4 hidden-sm">
        <wings-direction></wings-direction>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="visible-sm col-sm-6">
        <wings-direction></wings-direction>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-4 col-sm-6" id="target_temp_col">
        <target-temperature></target-temperature>
      </div>
      <div class="col-md-4 col-sm-6">
        <temperatures></temperatures>
      </div>
    </div>
  </div>

</div>