<h4>Fan</h4>
<div class="btn-group">
    <a class="btn btn-default fan-btn" id="fan_auto" onclick='fan_onclick("A");'><i class="fa fa-font fa-2x"></i></a>
    <a class="btn btn-default fan-btn" id="fan_eco" onclick='fan_onclick("B");'><i class="fa fa-leaf fa-2x"></i></a>
    <a class="btn btn-default" onclick='fan_onclick("3");'><img src="../../assets/images/level_1_off.svg" height="29px" id="fan_lvl_1"></a>
    <a class="btn btn-default" onclick='fan_onclick("4");'><img src="../../assets/images/level_2_off.svg" height="29px" id="fan_lvl_2"></a>
    <a class="btn btn-default" onclick='fan_onclick("5");'><img src="../../assets/images/level_3_off.svg" height="29px" id="fan_lvl_3"></a>
    <a class="btn btn-default" onclick='fan_onclick("6");'><img src="../../assets/images/level_4_off.svg" height="29px" id="fan_lvl_4"></a>
    <a class="btn btn-default" onclick='fan_onclick("7");'><img src="../../assets/images/level_5_off.svg" height="29px" id="fan_lvl_5"></a>
</div>