<h4>Mode</h4>
<div class="btn-group">
    <a class="btn btn-default mode-btn" id="mode_cooling" onclick='mode_onclick("3");'><i class="fa fa-asterisk fa-2x"></i></a>
    <a class="btn btn-default mode-btn" id="mode_dehum" onclick='mode_onclick("2");'><i class="fa fa-tint fa-2x"></i></a>
    <a class="btn btn-default mode-btn" id="mode_heating" onclick='mode_onclick("4");'><i class="fa fa-sun-o fa-2x"></i></a>
    <a class="btn btn-default mode-btn" id="mode_fan" onclick='mode_onclick("6");'><i class="fa fa-retweet fa-2x"></i></a>
    <a class="btn btn-default mode-btn" id="mode_auto" onclick='mode_onclick("1");'><i class="fa fa-font fa-2x"></i></a>
</div>